<section id="about" class="about section bg-second">
    <div class="container mt-5 mb-4">
        <div class="row align-items-center">
            <div class="about-image col-lg-6 mb-5 mb-lg-0">
                <img src="assets/imgs/about&bundle.webp" alt="Book Cover" class="about-image img-fluid"
                    style="max-height: 450px;">

                <!-- overlay -->
                <div
                    class="box bg-white p-4 overlay-box shadow d-flex flex-wrap justify-content-between gap-1 p-0 ps-lg-4">
                    <div class="m-auto">
                        <i class="bi bi-journal-text text-orange me-1"></i>
                        <span class="text-color">Pages</span>
                        <div class="m-1"><strong>384</strong></div>
                    </div>
                    <div class="m-auto">
                        <i class="bi bi-translate text-orange me-1"></i>
                        <span class="text-color">Language</span>
                        <div class="m-1"><strong>English</strong></div>
                    </div>
                    <div class="m-auto">
                        <i class="bi bi-calendar-event text-orange me-1"></i>
                        <span class="text-color">Published</span>
                        <div class="m-1"><strong>12/15/2024</strong></div>
                    </div>
                    <div class="m-auto">
                        <i class="bi bi-star-fill text-orange me-1"></i>
                        <span class="text-color">Rating</span>
                        <div class="m-1"><strong>4.8/5</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="content col-lg-5">
                <h2 class="heading-secondary mb-3">About The Book</h2>

                <div class="mb-3 d-flex gap-3 align-items-center">
                    <span class="text-orange d-flex align-items-center">
                        <i class="bi bi-bookmark"></i>&nbsp;Science Fiction
                    </span>
                    <span class="text-orange d-flex align-items-center">
                        <i class="bi bi-people"></i>&nbsp;Young Adult
                    </span>
                </div>

                <p class="mb-3 mt-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia eget
                    consectetur sed, convallis at tellus.
                </p>
                <p class="mb-4">
                    Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor
                    eget
                    felis porttitor volutpat.
                </p>

                <h5 class="fw-bold mb-4 mt-5">What You'll Discover:</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="bi bi-check-circle text-orange"></i> Nulla porttitor accumsan
                        tincidunt
                    </li>
                    <li class="mb-2"><i class="bi bi-check-circle text-orange"></i> Vestibulum ac diam sit amet quam
                    </li>
                    <li class="mb-2"><i class="bi bi-check-circle text-orange"></i> Praesent sapien massa convallis
                    </li>
                    <li class="mb-2"><i class="bi bi-check-circle text-orange"></i> Curabitur non nulla sit amet
                        nisl
                        tempus</li>
                </ul>


            </div>
        </div>
    </div>
</section>