<section id="author" class="section bg-second shadow">
    <div class="container">
        <div class="row align-items-center ">
            <div class="image col-md-5 text-center">
                <img src="assets/imgs/author.webp" alt="Author photo" class="img-fluid shadow" />
                <img src="assets/imgs/signature.webp" alt="signature" class="text-center img-fluid mt-3 ms-5">
            </div>
            <div class="content col-md-7 ps-5">
                <h5 class="text-orange text-uppercase mb-2">About the Author</h5>
                <h2 class="heading-secondary mb-3">John Doe</h2>
                <p class="fst-italic light-text mb-4">
                    Bestselling Author of Science Fiction & Fantasy
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Nulla quis lorem
                    ut libero malesuada feugiat.
                </p>
                <p>
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum
                    porta.
                </p>
                <p>
                    Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh
                    pulvinar a.
                </p>
                <div>
                    <h4 class="mt-5 mb-3 text-color">Awards & Recognition</h4>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <i class="bi bi-award-fill text-orange me-2"></i>
                            Lorem Ipsum Award for Outstanding Fiction (2023)
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-award-fill text-orange me-2"></i>
                            Dolor Sit Literary Prize (2021)
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-award-fill text-orange me-2"></i>
                            Consectetur Adipiscing Medal (2019)
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="mt-5 mb-4 text-color">Connect with the Author</h4>
                    <ul class="list-unstyled d-flex justify-content-start p-1">
                        <i class="bi bi-instagram text-orange me-2"></i>
                        <i class="bi bi-twitter text-orange me-2"></i>
                        <i class="bi bi-facebook text-orange me-2"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-globe"></i>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>