<section id="faq" class="section bg-section">
    <div class="container m-0 m-auto w-100">
        <div class="row m-auto justify-content-between w-100 align-items-start">
            <!-- Left -->
            <div class="col-lg-6 mb-5">
                <h2 class="fw-bold special-text mb-4 display-5">
                    Have a question?<br />
                    Check out the F.A.Q.
                </h2>
                <p class="light-text mb-5">
                    Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet adipiscing sem neque
                    sed ipsum.
                </p>
                <app-svg></app-svg>>
            </div>

            <!-- Right -->
            <div class="col-lg-6">
                <div class="accordion" id="faqAccordion">
                    <div class="accordion-item mb-3 shadow bg-white">
                        <h2 class="accordion-header">
                            <button
                                class="accordion-button collapsed fw-semibold text-orange d-flex justify-content-between"
                                type="button" data-bs-toggle="collapse" data-bs-target="#faqOne" aria-expanded="true"
                                aria-controls="faqOne">
                                Non consectetur a erat nam at lectus urna duis?
                            </button>
                        </h2>
                        <div id="faqOne" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body text-color">
                                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non
                                curabitur gravida...
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3 shadow border-0 bg-white">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold text-orange" type="button"
                                data-bs-toggle="collapse" data-bs-target="#faqTwo" aria-expanded="false"
                                aria-controls="faqTwo">
                                Feugiat scelerisque varius morbi enim nunc faucibus?
                            </button>
                        </h2>
                        <div id="faqTwo" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body text-color">
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi...
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3 shadow rounded border-0 bg-white">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#faqThree" aria-expanded="false"
                                aria-controls="faqThree">
                                Dolor sit amet consectetur adipiscing elit pellentesque?
                            </button>
                        </h2>
                        <div id="faqThree" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body text-color">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3 shadow rounded border-0 bg-white">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#faqFour" aria-expanded="false"
                                aria-controls="faqFour">
                                Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                            </button>
                        </h2>
                        <div id="faqFour" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body text-color">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3 shadow rounded border-0 bg-white">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#faqFive" aria-expanded="false"
                                aria-controls="faqFive">
                                Tempus quam pellentesque nec nam aliquam sem et tortor?
                            </button>
                        </h2>
                        <div id="faqFive" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body text-color">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3 shadow rounded border-0 bg-white">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed fw-semibold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#faqSix" aria-expanded="false"
                                aria-controls="faqSix">
                                Perspiciatis quod quo quos nulla quo illum ullam?
                            </button>
                        </h2>
                        <div id="faqSix" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body text-color">
                                Enim ea facilis quaerat voluptas quidem et dolorem. Quis et consequatur non sed in
                                suscipit sequi. Distinctio ipsam
                                dolore et.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>