<section id="offers" class="offer bg-second">
    <div class="container">
        <div class="mybox bg-white shadow overflow-hidden">
            <div class="row align-items-stretch p-2">
                <!-- Content -->
                <div class="parent col-lg-7 p-4 ps-lg-5 pe-lg-5">
                    <h4 class="fw-bold mb-4">Special Bundle Offer</h4>

                    <p class="text-center text-color light-text mb-4">
                        Get the hardcover, e-book, and audiobook versions in a special bundle package.
                    </p>

                    <ul class="list-unstyled mb-2">
                        <li class="mb-1 d-flex align-items-center">
                            <span class="bi bi-check2 text-orange me-2 icon"></span>
                            <span>Save 20% on individual prices</span>
                        </li>
                        <li class="mb-1 d-flex align-items-center text-md-center">
                            <span class="bi bi-check2 text-orange me-2 icon"></span>
                            <span>Exclusive author commentary track</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="bi bi-check2 text-orange me-2 icon"></span>
                            <span>Digital bookplate signed by the author</span>
                        </li>
                    </ul>

                    <div class="get mb-2">
                        <div class="d-flex justify-content-start align-items-center">
                            <span class="text-decoration-line-through me-3 light-text">$54.97</span>
                            <span class="heading-secondary text-orange">$43.99</span>
                        </div>
                    </div>

                    <div class="text-center">
                        <a href="#" class="btn bg-primary text-white fw-semibold px-4 py-2 rounded">Get the Bundle</a>
                    </div>
                </div>

                <!-- Image -->
                <div class="col-lg-5 p-3 align-content-center">
                    <img src="assets/imgs/about&bundle.webp" alt="Special Bundle Offer" class="img-fluid w-100 pe-4">
                </div>
            </div>
        </div>
    </div>
</section>