<nav class="navbar navbar-expand-lg mynavbar shadow">
    <div class="container-fluid">
        <a class="navbar-brand text-primary fw-bold" href="#home">Book Store.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active text-primary" aria-current="page" href="#">Home</a>
                <a class="nav-link text-primary" href="#about">About</a>
                <a class="nav-link text-primary" href="#features">Features</a>
                <a class="nav-link text-primary" href="#author">Author</a>
                <a class="nav-link text-primary" href="#purchase">Purchase</a>
                <a class="nav-link text-primary" href="#offers">Offers</a>
                <a class="nav-link text-primary" href="#faq">F.A.Q</a>
                <a class="nav-link text-primary" href="#contact">Contact</a>
                <a class="nav-link text-primary" href="#dropdown">Dropdown</a>
            </div>
        </div>
    </div>
</nav>